* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    background-color: #343a40;
    display: flex;
  }

.container {
    width: 500px;
    height: 500px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    background-color: rgb(199, 230, 230);
  }
  
  .form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  
  form h2 {
    text-align: center;
    padding: 5px;
  }

  .btn-primary {
    background-color: #4CAF50;
    border-color: #4CAF50;
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 1rem;
  }
  
  .btn-primary:hover {
    background-color: #3e8e41;
    border-color: #3e8e41;
  }
  
  .form-check-input {
    margin-top: 1px;
    margin-left: 0;
  }
  
  .text-center {
    text-align: center;
    margin-top: 1rem;
  }
  
  .text-center a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .text-center a:hover {
    text-decoration: underline;
  }